<form action="/user/create" method="POST">
  <!-- Name input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form4Example1">Project Name</label>
    <input name="name" type="text" id="form4Example1" class="form-control" />
  </div>

  <!-- Message input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form4Example3">Project description</label>
    <textarea name="description" class="form-control" id="form4Example3" rows="4"></textarea>
  </div>

  <!-- Progress input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form4Example3">Progress in percentage</label>
    <input type="number" name="progress" class="form-control" id="form4Example3" rows="4" min="0" max="100"></input>
  </div>



  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Create</button>
</form>
