<form action="/user/create" method="POST">
  <!-- Name input -->
  <div class="form-outline mb-4">
    <input name="name" type="text" id="form4Example1" class="form-control" />
    <label class="form-label" for="form4Example1">Project Name</label>
  </div>

  <!-- Message input -->
  <div class="form-outline mb-4">
    <textarea name="description" class="form-control" id="form4Example3" rows="4"></textarea>
    <label class="form-label" for="form4Example3">Message</label>
  </div>



  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Save</button>
</form>
